body {
    background:linear-gradient(108.1deg, rgb(167, 220, 225) 11.2%, rgb(217, 239, 242) 88.9%);
    font-family: "Poppins", sans-serif;
}

a {
    color: #6d8faa;
}

.section-info-app {
    background-color: #f9f7fe;
    max-width: 600px;
    margin: 80px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.2);
    border-radius: 20px;
    padding: 30px;
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}


.search-form-input {
    background-color: rgb(231, 236, 238);
    border-radius: 10px;
    width: 80%;
    font-size: 16px;
    padding: 17px 20px;
    border: none;
}

main {
    padding: 30px 0;
}

.weather-info-style {
    display: flex;
    justify-content: space-between;
}

.weather-info-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
    color:#1A2130;
}

.weather-info-details {
    font-size: 16px;
    line-height: 25px;
    color:rgba(72, 73, 75, 0.658);
    font-weight: 400;
}

.weather-forecast-date {
    text-align: center;
    color: rgba(72, 73, 75, 0.658);
    font-size: 16px;
    line-height: 20px;
}

.weather-forecast-icon {
    font-size: 38px;
    text-align: center;
}

.weather-forecast-temperatures {
    text-align: center;
    color: #27445D;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.weather-forecast-temp {
    padding: 0 8px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.weather-info-details strong {
    color: #27445D;
}

.weather-temperature-container {
    display: flex;
}

.weather-info-temp {
    font-size: 85px;
    font-weight: 500;
    color: #1A2130;
}

.weather-info-unit {
    margin-top: 25px;
    font-size: 26px;
    margin-right: 50px;
    color: #1A2130;    
}

.weather-info-icon {
    width: 90px;
    height: 90px;
    margin-top: 22px;
    margin-right: 6px;
}

.search-form-button {
    background-color: #789DBC;
    padding: 18px 25px;
    border-width: 1px;
    border-color: #789DBC;
    border-radius: 10px;
    color: white;
    margin-left: 7px;
    font-size: 14px;
}


footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(99, 98, 98, 0.6);
}